################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdminService/bin/Release/netcoreapp2.0
/AdminService/obj
/.vs/MicroServiceMigration/v15/Server/sqlite3
/.vs/MicroServiceMigration/v15/sqlite3/db.lock
/.vs/MicroServiceMigration/v15/sqlite3/storage.ide-shm
/.vs/MicroServiceMigration/v15/sqlite3/storage.ide-wal
/.vs/MicroServiceMigration/v15/sqlite3/storage.ide
/.vs/config
.vs/MicroServiceMigration/v15/.suo
/.vs/MicroServiceMigration/lut/0/0/AdminService/Release/netcoreapp2.0
/.vs/MicroServiceMigration/lut/0/0/AdminService.UnitTest/Release/netcoreapp2.0
/.vs/MicroServiceMigration/lut/0/i/AdminService/Release/netcoreapp2.0
/.vs/MicroServiceMigration/lut/0/t/AdminService/Release/netcoreapp2.0
/.vs/MicroServiceMigration/lut/8844
/.vs/MicroServiceMigration/lut/0
/AdminService.UnitTest/obj
/.vs/MicroServiceMigration/lut
AdminService.UnitTest/bin/
obj/
packages/
*/.vs
*/bin
*/obj
*/pkg