################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdminService/bin/Release/netcoreapp2.0
/AdminService/obj
.vs/MicroServiceMigration/v15/sqlite3/storage.ide
.vs/MicroServiceMigration/v15/.suo
.vs/MicroServiceMigration/v15/.suo
